<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a id="page-title" class="navbar-brand" href="#">Profile</a>
    </div>
    <div class="navbar-header pull-right">
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</nav>

<div class="container">
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name">
        </div>
    </form>

    <a ng-click="model.updateUser(model.user)"
       class="btn btn-primary btn-success">Update</a>
    <a ng-click="model.deleteUser(model.user)"
       class="btn btn-primary btn-danger">Unregister</a>
    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.userId}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#!/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <button type="button" class="btn btn-primary navbar-btn">
            <span class="glyphicon glyphicon-user"></span>
        </button>
    </div>
</nav>
