input.form-control {
    margin-bottom: 5px;
}

div.container {
    padding-top: 72px;
    padding-bottom: 72px;
}

#page-title {
    color: #333;
}

.glyphicon-menu-left {
    font-size: 15px;
}

.navbar-btn {
    margin-right: 10px;
}

li {
    height: 56px;
}

.list-group-text {
    position: relative;
    top: 7px;
    left: 6px;
}

a:hover {
    text-decoration: none;
}
