input.form-control {
    margin-bottom: 5px;
}

div.container {
    padding-top: 72px;
    padding-bottom: 72px;
}

#page-title {
    color: #333;
}

.glyphicon-menu-left {
    font-size: 15px;
}

.img-responsive {
    margin-bottom: 10px;
}

li.list-group-item {
    height: 56px;
}

.list-group-text {
    position: relative;
    top: 7px;
    left: 6px;
}

a:hover {
    text-decoration: none;
}

.article {
    text-align: justify;
    max-width: 830px;
}

.widget-list-btn {
    position: relative;
    left: 4px;
    margin-left: 6px;
}

nav > div.pull-right {
    margin-right: 10px;
}

.widget {
    position: relative;
}

.widget > .widget-toolbar {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
}

.widget > .widget-toolbar > .glyphicon-cog {
    color: dodgerblue;
}
