<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a id="page-title" class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-menu-left"></span>
            Choose Widget
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget('HEADING')"
               class="list-group-text">
                Header
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('LABEL')"
               class="list-group-text">
                Label
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('HTML')"
               class="list-group-text">
                HTML
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('TEXT')"
               class="list-group-text">
                Text Input
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('LINK')"
               class="list-group-text">
                Link
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('BUTTON')"
               class="list-group-text">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('IMAGE')"
               class="list-group-text">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('YOUTUBE')"
               class="list-group-text">
                YouTube
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('TABLE')"
               class="list-group-text">
                Data Table
            </a>
        </li>
        <li class="list-group-item disabled">
            <a ng-click="model.createWidget('REPEATER')"
               class="list-group-text">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="btn btn-primary navbar-btn"
           href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
