<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a id="page-title" class="navbar-brand" href="page-list.html">
            <span class="glyphicon glyphicon-menu-left"></span>
            Widgets
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a class="btn btn-default navbar-btn pull-right"
           href="widget-choose.html">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container article">
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3>
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <img class="img-responsive"
             src="https://i.kinja-img.com/gawker-media/image/upload/s--47gmJqRi--/c_scale,fl_progressive,q_80,w_800/dw3l4m5ulgn6qqlhr7om.png">
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <p> In February, the
            <a href="http://gizmodo.com/white-house-wants-1-8-billion-to-fight-zika-1757772335">
                White House formally asked Congress for $1.8 billion </a>
            dollars to help combat the Zika virus this summer. Now, the Senate has
            worked out a bipartisan deal will allocate $1.1 billion in emergency funding.
        </p>
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h3>Man in Wingsuit Flies Straight Through a Ring of Fire</h3>
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <iframe class="embed-responsive-item" width="100%" height="300px" src="https://www.youtube.com/embed/uLWLashCXHE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="widget">
        <div class="widget-toolbar">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <p> Flying in a wingsuit? That’s just not enough anymore. Anyone could do that
            (I would never do that). You have to make it more extreme, like by hitting
            a target while you’re cutting through the air at crazy speeds. Or by making
            that target a small ring that you have to somehow fly through. Or by lighting
            that ring on fire. Or by... actually, that should be extreme enough for now. </p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-left">
        <a class="btn btn-default navbar-btn widget-list-btn"
           href="widget-list.html">
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="btn btn-default navbar-btn widget-list-btn"
           href="widget-list.html">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a class="btn btn-primary navbar-btn"
           href="profile.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
