<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a id="page-title" class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-menu-left"></span>
            Widgets
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a class="btn btn-default navbar-btn pull-right"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container article">
    <div ng-repeat="widget in model.widgets"
         wbdv-sortable
         class="widget">
        <div class="widget-toolbar">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'">
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-left">
        <a class="btn btn-default navbar-btn widget-list-btn"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-play"></span>
        </a>
        <a class="btn btn-default navbar-btn widget-list-btn"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a class="btn btn-primary navbar-btn"
           href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
