<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a id="page-title" class="navbar-brand" href="#!/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-menu-left"></span>
            Pages
        </a>
    </div>
    <div class="navbar-header pull-right">
        <a class="btn btn-default navbar-btn pull-right"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a class="list-group-text"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <a class="btn btn-default pull-right"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a class="btn btn-primary navbar-btn"
           href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
